*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal 16px/1.5 "Josefin Sans", sans-serif;
  background: #fff;
  color: #fff;
  overflow-x: hidden;
}  

/* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro {
  background: #868686;
  /*background-image: url('/img/25_dark.jpg');*/
  /*color: #000;*/
  background-image: url('/img/header.jpg');
  color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*padding: 200px 0;*/
  padding-top: 200px;
  padding-bottom: 240px;
}

.intro > div > h1 {
  font-size: 60px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.circle {
  background: #0000004d;
  height: 500px;
  width: 500px;
  border-radius: 250px;
  padding-top: 38px;
}

.circle > h1 {
  margin-top: 40px;
}

h1 {
  /*font-family: "Helvetica Neue";*/
  /*font-family: "Pacifico";*/
  font-family: "Josefin Sans";
  font-family: "Permanent Marker";
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.intro > div > h3 {
  font-family: "Josefin Sans";
  font-size: 26px;
  font-weight: 300;
}

/* CUSTOM / MEDIA
––––––––––––––––––––––––––––––––––––––––––––––––––*/

a.link, a:active, a:visited, a:selected, a:focus, a:focus-within {
  color: white;
}

.image {
  text-align: center !important;
  width: 100% !important;
  left: 0 !important;
  margin-bottom: -6px;
}

.videoWrapper {
  left: 0 !important;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image > img {
  width: 100% !important;
}

.selected_projects {
  font-family: "Josefin Sans";
  /*font-family: "Permanent Marker";*/
  padding-top: 120px;
  padding-bottom: 50px;
  font-size: 56px;
  text-align: center;
  color: #afafaf;
}

h2, time, #footer, .timeline ul li.in-view::after {
  background-color: #0eccc3;
}

h2 {
  padding: 15px 15px 0 15px;
  border-radius: 10px 10px 0 0;
}

time {
  /*font: normal 16px/1.5 "Roboto Slab", sans-serif;*/
  padding: 0 15px 15px 15px;
}

p {
  font: normal 16px/1.5 "Open Sans", sans-serif;
  padding: 15px;
  color: #444444 !important;
  border-radius: 0 0 10px 10px;
  border-left: 2px solid #eaeaea;
  border-bottom: 2px solid #eaeaea;
  border-right: 2px solid #eaeaea;
}

#footer {
  text-align: center;
  padding: 20px;
  font-weight: bold;
}

.aboutMe {
  background-color: white;
  color: #666;
}

.row {
  display: flex; 
  max-width: 1200px;
  margin: 0 auto; 
  flex-flow: row wrap;
  flex-direction: row;
  padding-left: 80px;
  padding-right: 80px;
}

.column {
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 140px;
  padding-bottom: 140px;
}

.projects {
  padding-right: 20px;
}

.colimg {
  width: 100%;
}

.yearsof {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.8vw;
  letter-spacing: 2px;
  font-weight: 300;
  margin-bottom: -10px;
  margin-left: 4px;
}

.exp {
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 2px;
  font-size: 3vw;
  font-weight: 500;
  margin-bottom: 30px;
}

.descrip {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.45vw;
  margin-left: 4px;
  font-weight: 300;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
  background-color: #f7f7f7;
}
.timeline ul {
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #868686;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 80px;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div.card {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 0px;
  background: #ffffff;
  border-radius: 10px;
  /*border: 1px solid black;*/
  /*box-shadow: 1px 1px 20px 1px #666666;*/
}

.timeline ul li div.card::before {
  content: '';
  position: absolute;
  top: 36px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div.card {
  left: 45px;
}

.timeline ul li:nth-child(odd) div.card::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #0eccc3 transparent transparent;
}

.timeline ul li:nth-child(even) div.card {
  left: -439px;
}

.timeline ul li:nth-child(even) div.card::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #0eccc3;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

/* -------- */
body {
  background: #3498db;
}
.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 560px;
  /*bottom: 30px;*/
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}
.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    //250+45-6
  }
}*/

  .timeline ul li div.card {
    width: calc(100vw - 91px);
    max-width: 600px;
  }
  .timeline ul li {
    margin-left: calc(50% - 340px);
  }
  .timeline ul li:nth-child(even) div.card {
    left: 45px !important;
  }
  .timeline ul li:nth-child(even) div.card::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #0eccc3 transparent transparent;
  }
  .timeline ul li div.card {
    width: calc(100vw - 91px);
    max-width: 600px;
  }

@media screen and (max-width: 1200px) {
  .yearsof {
    margin-left: 2px;
  }
  .descrip {
    margin-left: 2px;
  }
}

@media screen and (max-width: 900px) {
  .yearsof {
    font-size: 26px;
    margin-bottom: -10px;
    margin-left: 4px;
  }
  .exp {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .descrip {
    font-size: 22px;
    margin-left: 4px;
  }
  .projects {
    padding-right: 0px;
  }
  .row {
    padding-left: 20px;
    padding-right: 20px;
  }
  .column:first-child {
    padding-top: 100px;
  }
  .column:last-child {
    padding-bottom: 100px;
  }
  .column {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div.card {
    width: calc(100vw - 91px);
    max-width: 600px;
  }
  .timeline ul li:nth-child(even) div.card {
    left: 45px !important;
  }
  .timeline ul li:nth-child(even) div.card::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #0eccc3 transparent transparent;
  }
  .row {
    flex-direction: column;
  }
  .intro {
    padding-top: 120px;
    padding-bottom: 180px;
  }
  .intro > div > h1 {
    font-size: 48px;
  }
  .selected_projects {
    padding-top: 80px;
    padding-bottom: 40px;
    font-size: 42px;
  }
  h2 {
    font-size: 1.3em;
  }
  time {
    font-size: 1rem;
  }
  .icon-scroll {
    top: 550px;
  }
}

/*
#0dcdce
#88babf
*/
